{% extends 'home/layout.html' %}
{% block body %}
<style>
    .main{
        background-image: -webkit-linear-gradient(65deg, #343b55 50%,  #5a3f8a 50%);
        min-height: 1000px;
    }
    .hover:hover{
        color: rgb(71, 49, 168);
    }
    .text-center{
        text-align: center;
    }
    .display-1{
        text-align: center;
    }
    .btn-close{
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 2;
    }
    .right-float{
      float: right;
    } 
    

    
</style>
<div class=" main">
    {% if error %}
      <div id="error-alert">
        <div class="alert alert-danger display-block" role="alert">
          {{error}}
          <button type="button right-float" class="btn-close" onclick="remove_alert('#error-alert')"  aria-label="Close"></button>
        </div>
      </div>
    {% endif %}
    <div>
        <h1 class="display-1 text-white">Login</h1>
    </div>
    
    <hr>
        <form method="POST" action="{% url 'home:login' %}">
            <div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-left: 5%;margin-right: 5%;">

            
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    <input required type="username" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    <input required type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                
            


            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-lg">LOGIN</button>
            </div>
        </form>
    
</div>
<script>
    document.querySelector("#login-signup-link").style.color="blue";  
    function remove_alert(id){
    document.querySelector(id).style.display="none";
    }
</script>




{% endblock %}